<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.recycleorigin.recycleorigin">
    <!-- Flutter needs it to communicate with the running application
         to allow setting breakpoints, to provide hot reload, etc.
    -->
    <uses-permission android:name="android.permission.INTERNET"/>
    <!-- Allow HTTP for local API (e.g. http://10.0.2.2:8080/).
         tools:replace wins over main's usesCleartextTraffic="false". -->
    <application
        android:usesCleartextTraffic="true"
        tools:replace="android:usesCleartextTraffic"/>
</manifest>
